@font-face {
    font-family: "Muni-regular";
    src: url(fonts/muni-regular.otf);
}

.grid.cards {
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 10rem), 2fr));
}

:root [data-md-color-scheme="slate"] {
    --md-primary-fg-color: #ffdd4e;
    --md-primary-bg-color: #121212;
    --md-default-fg-color: white;
    --md-default-fg-color--light: ;
    --md-default-bg-color: #121212;
    --md-footer-bg-color: #ffdd4e;
    --md-footer-bg-color--dark: ;
    --md-footer-bg-color--light: ;
    --md-footer-fg-color: black;
    --md-footer-fg-color--light: ;
    --md-footer-fg-color--lighter: ;
    --md-code-bg-color: #ffdd4e;
    --md-code-fg-color: black;
    --md-border-color: white;
    --md-accent-fg-color: #fdd32b;
    --md-accent-fg-color--transparent: #ffdd4e;
    --md-typeset-table-color: #ffdd4e;
    --md-typeset-ins-color: #121212;
    --md-typeset-del-color: #121212;
    --md-typeset-mark-color: #ffdc4e85;
    --md-admonition-fg-color: #ffdd4e;
    --md-typeset-a-color: #ffdd4e;
   
    /* Fixes mermaid diagrams in dark mode*/
    --md-mermaid-sequence-message-fg-color: white !important;
    --md-mermaid-label-bg-color: #ffdd4e;
    --md-mermaid-edge-color: white;
    --md-mermaid-sequence-actor-line-color: white;
}

:root > * [data-md-color-scheme="slate"] {
    --md-mermaid-edge-color: white !important;
    --md-mermaid-sequence-actor-bg-color: #ffdd4e;
    --md-mermaid-sequence-actor-line-color: white;
    --md-mermaid-sequence-number-fg-color: black;
}

.md-logo img {
    transform: scale(1.5);
}

[data-md-color-scheme="default"] .md-typeset h1, .md-typeset h2 {
    color: black;
}

[data-md-color-scheme="default"] .md-typeset .grid.cards > ul > li {
    border-color:#121212;
    border-width: 3px;
}

[data-md-color-scheme="default"] .md-typeset .grid.cards > ul > li:hover {
    border-width: 3px;
}

[data-md-color-scheme="slate"] .md-typeset .grid.cards > ul > li {
    border-color: #ffdd4e;
}

.md-typeset .grid.cards > ul > li {
    border-width: 5px;
    border-radius: 4rem;
    text-align: center;
    transition: 
        border-width .25s,
        border-radius .25s;
}

[data-md-color-scheme="slate"] .md-typeset .grid.cards > ul > li:hover {
    border-color: #ffdd4e;
    background: #ffdc4e48;
}

.md-typeset .grid.cards > ul > li:hover {
    border-width: 5px;
    border-radius: 4rem;
    text-align: center;
    transition: all .25s;
}

.md-nav__title {
    box-shadow: 0 0 !important;
    background: none !important;
}

[data-md-color-scheme="slate"] .md-nav__item .md-nav__link--active {
    background-color: #ffdd4e;
    color: black !important;
}

.md-nav__item .md-nav__link--active {
    border-radius: 1rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}

[data-md-color-scheme="slate"] .md-nav__link[for]:hover {
    color: #ffdd4e;
}

[data-md-color-scheme="slate"] .md-nav__link[href]:hover {
    color: #ffdd4e;
}

[data-md-color-scheme="slate"] .md-nav__link[href]:hover.md-nav__link--active {
    color: black;
}

[data-md-color-scheme="slate"] .md-typeset h2 {
    color: #ffdd4e;
}

[data-md-color-scheme="slate"] .md-typeset h1 {
    color: #ffdd4e;
}

.md-typeset h1, .md-typeset h2 {
    font-family: Muni-regular;
    font-weight: bold;
}

[data-md-color-scheme="slate"] .md-typeset code {
    background-color: #ffdd4e;
    color: black !important;
}

.md-typeset code {
    border-radius: 1rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}

.md-social__link svg {
    max-height: 10rem;
    max-width: 7rem;
}

.md-typeset table:not([class]) {
    border-width: 2px;
    border-radius: 1rem;
    width: 200%;
}

[data-md-color-scheme="slate"] .swagger-ui .info .title {
    color: white !important;
}

[data-md-color-scheme="slate"] .swagger-ui a.nostyle {
    color: white !important;
}

[data-md-color-scheme="slate"] .swagger-ui .opblock .opblock-summary-description {
    color: white !important;
}

[data-md-color-scheme="slate"] .swagger-ui .opblock-summary-control:focus {
    outline: none !important;
}

[data-md-color-scheme="slate"] .swagger-ui .scheme-container {
    background-color: #ffdd4e !important;
    color: black !important;
    border-radius: 1rem;
}

[data-md-color-scheme="slate"] .swagger-ui .opblock .opblock-section-header {
    background: #ffdd4e !important;
}

[data-md-color-scheme="slate"] .swagger-ui {
    color: white !important;
}

[data-md-color-scheme="slate"] .swagger-ui .opblock-description-wrapper p {
    color: white !important;
}

[data-md-color-scheme="slate"] .swagger-ui table thead tr td {
    color: white !important;
}

[data-md-color-scheme="slate"] .swagger-ui table thead tr th {
    color: white !important;
}

[data-md-color-scheme="slate"] table.parameters > tbody:nth-child(2) > tr:nth-child(1) > td:nth-child(1) > div:nth-child(1) {
    color: white !important;
  }

[data-md-color-scheme="slate"] .swagger-ui .response-col_status {
    color: white !important;
}

[data-md-color-scheme="slate"] .swagger-ui .response-col_links {
    color: white !important;
  }

[data-md-color-scheme="slate"] .swagger-ui .tab li {
    color: white !important;
}

[data-md-color-scheme="slate"] .swagger-ui .opblock-body pre.microlight {
    background-color: inherit !important;
}

[data-md-color-scheme="slate"] span div:nth-child(1) > div:nth-child(1) > pre:nth-child(1) > code:nth-child(1) > span:nth-child(5) {
    color: black !important;
}

[data-md-color-scheme="slate"] span div:nth-child(1) > div:nth-child(1) > pre:nth-child(1) > code:nth-child(1) > span:nth-child(10) {
    color: black !important;
}

tr td {
    vertical-align: middle !important;
}

[data-md-color-scheme="slate"] .md-typeset details {
    border-color: #ffdd4e !important;
    color: white;
    background-color: #121212;
}

[data-md-color-scheme="slate"] .md-typeset .admonition{
    border-color: #ffdd4e !important;
    color: white;
    background-color: #121212;
}


.md-typeset .admonition, .md-typeset details {
    font-size: large;
}

.md-typeset .admonition-title::before, .md-typeset summary::before {
    display: none;
    width: 0px;
}

[data-md-color-scheme="slate"] .md-typeset .admonition-title {
    padding-left: 0.75rem !important;
    background-color: #fdd32b15 !important;
    color: #ffdd4e;
}

[data-md-color-scheme="slate"] .md-typeset summary {
    padding-left: 0.75rem !important;
    background-color: #fdd32b15 !important;
    color: #ffdd4e;
}

.md-typeset .admonition-title, .md-typeset summary {
    font-size: x-large;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.md-typeset .md-button {
    margin: 0 30px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    align-items: center;
}

.ack_logo {
    max-width: 13rem !important;
    height: auto !important;
    margin-right: 10px;
}

[data-md-color-scheme="slate"] .md-search__form:hover {
    background-color: #000000b0;
}

[data-md-color-scheme="slate"] .md-search__form:hover .md-search__icon {
    color: white !important;
}

[data-md-color-scheme="slate"] .md-clipboard {
    color: black;
}

[data-md-color-scheme="slate"] .md-clipboard:hover {
    color: white;
}

[data-md-color-scheme="slate"] .md-typeset .no-bcg code {
    background-color: #121212;
    color: white !important;
    border-color: #ffdd4e !important;
}

.md-typeset .no-bcg code {
    border-width: 2px !important;
    border-style: solid;
    border-radius: 1rem;
}

[data-md-color-scheme="slate"] .no-bcg .md-clipboard {
    color: #ffdd4e;
}

.main-gridc {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
}

.navigation-main p {
    text-align: center;
}

.navigation-main .md-button {
    width: 90%;
    border-radius: 2rem;
    cursor: pointer;
    font-size: 24px;
    text-align: center;
}

[data-md-color-scheme="slate"] .main_grid-border {
    border-color: #ffdd4e;
}

.main_grid-border {
    margin-top: 50px;
    border-width: 2px;
    border-style: solid;
    border-radius: 1rem;
    width: 100%;
    text-align: center;
}

.main-logo {
    margin-left: -40px !important;
}

.main_grid-cads {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    box-sizing: border-box;
    padding: 30px;
}

.main_grid-cads .grid.cards {
    display: contents;
}

.main_grid-cads .grid.cards ul {
    display: contents;
    list-style: none;
    margin: 0;
    padding: 5px;
}

.main_grid-cads .grid.cards ul li{
    width: 100%;
    overflow-wrap: anywhere;
    border-radius: 1rem;
    text-align: left !important;
}

[data-md-color-scheme="slate"] .main_grid-cads .grid.cards ul li:hover{
    background-color: #121212;
}

.main_grid-cads .grid.cards ul li:hover{
    border-radius: 1rem;
}

.main_grid-cads .grid.cards ul li h2,
.main_grid-cads .grid.cards ul li p,
.main_grid-cads .grid.cards ul li ul {
    margin: 0;
    padding: 0;
    white-space: normal;
    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
    box-sizing: border-box !important;
}

.bigger-font-size {
    font-size: xx-large;
}

@media (max-width: 1219px) {
    [data-md-color-scheme="slate"] nav.md-nav.md-nav--primary label.md-nav__title a.md-nav__button.md-logo img {
        filter: invert(98%) sepia(68%) saturate(2100%) hue-rotate(318deg) brightness(107%) contrast(103%);
    }
}

@media (min-width: 1220px) {
    [data-md-color-scheme="default"] nav.md-nav.md-nav--primary label.md-nav__title a.md-nav__button.md-logo img {
        filter: invert(100%) sepia(0%) saturate(7429%) hue-rotate(131deg) brightness(120%) contrast(107%);
    }
}

@media (max-width: 1200px) {
    .main-gridc {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .navigation-main .md-button {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .main_grid-cads {
        grid-template-columns: 1fr;
        padding: 15px;
    }

    .main-gridc {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .navigation-main .md-button {
        width: 60%;
    }
    
    .main_grid-border {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .main_grid-cads {
        grid-template-columns: 1fr;
        padding: 10px;
    }

    .main_grid-cads .grid.cards ul li {
        padding: 10px;
        font-size: 0.9rem;
    }
}